<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">EVENTS</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        Пользователь:<a class="p-2 text-dark" href="">{{ user.username }}</a>
        <a class="p-2 text-dark" href="">Изменить пароль</a>
        <a class="p-2 text-dark" href="">Выйти</a>
        {% else %}
        <a class="p-2 text-dark" href="">Войти</a> |
        <a class="p-2 text-dark" href="">Регистрация</a>
        {% endif %}
    </nav>
</nav>
</nav>